ul {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  position: fixed;
  height: 100%;
  width: 270px;
  background-color: #363533;
}

.SidebarContainer {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarContainer .list {
  width: 100%;
  height: 90px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.SidebarContainer .list:hover {
  cursor: pointer;
  background-color: #3434eb;
}

.SidebarContainer #active {
  background-color: #3434eb;
}

.list #icon {
  flex: 25%;
  display: grid;
  place-items: center;
  font-size: 25px;
}

.list #title {
  flex: 75%;
  font-size: 25px;
}

.photo {
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 10px;
  width: 100%;
}

hr {
  border: 1px solid white;
}

.profile {
  position: absolute;
  bottom: 0;
  width: 270px;
  height: 80px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.profile #proicon {
  flex: 30%;
  display: grid;
  place-items: center;
  font-size: 25px;
}

.profile #protitle {
  flex: 70%;
  font-size: 25px;
}

.profile:hover {
  cursor: pointer;
  background-color: #3434eb;
}

.bottomline {
  width: 270px;
  border: 1px solid white;
  position: absolute;
  bottom: 80px;
}
