.exp_detail{
    margin-left: 11vw;
    display:flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.exp_detail #picture{
    margin-left: 13vw;
    display: grid;
    padding-top: 2vh;
    border-style: solid;
    border-width: 0vw;
    width: 14vw;
}

.exp_detail #exp_date{
    padding-left: 1vw;
    padding-top: 3vh;
    font-size: 0.8vw;
}

.exp_detail #exp_title{
    padding-left: 1vw;
    padding-top: 1vh;
    font-size: 1vw;
    width: 35vw;
}

.exp_detail_list{
    list-style-type: none;
}

.exp_detail1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 11vw;
}
.sub-title{
    padding-left: 12vw;
    font-size: 0.8vw;
    padding-bottom: 1vh;

}
.exp_detail1 #description{
    padding-left: 12vw;
    padding-bottom: 1vh;
    width: 50vw;
    font-size: 0.8vw;
}
.enroll{
    margin-left: 70vw;
    display: inline-block;
    padding: 0.7vw 1vw;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vw;
}

.enroll:hover {background-color: #3e8e41}

.enroll:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

