.post_created #title{
    font-size: 50px;
    margin-top: 220px;
    padding-left: 150px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.post_created #line{
    border-style: solid;
    border-color: black;
    width: 100%;
}

.post_created{
    margin-left: 550px;
    margin-right: 550px;
}

.post_created #icon{
    margin-left: 1100px;
    font-size: 25px;
    border-color: black;
    border-style: solid;
    padding-right: 1px;
    width: 250px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.post_created #icon:hover{
    cursor: pointer;
    background-color:white;
}
.exp_button #edit{
 
    font-size: 25px;
    border-radius: 10px;
    padding-right: 10px;
    width: 100px;
    padding-bottom: 15px;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    border-color: black;
    border-style: solid ;
    position: relative;
    bottom: 80px;
}

.exp_button #delete{

    margin-left: 30px;
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    border-color: black;
    border-style: solid;
    position: relative;
    bottom: 80px;
}
.exp_button #response{

    margin-left: 0px;
    margin-right: 30px;
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    border-color: black;
    border-style: solid;
    position: relative;
    bottom: 80px;
}
.exp_button{
    display:flex;
    margin-left: 1350px;
    padding-bottom: 30px;
    
}

.exp_button #edit:hover{
    cursor: pointer;
    background-color:white;


}
.exp_button #delete:hover{
    cursor: pointer;
    background-color:white;


}
.exp_button #response:hover{
    cursor: pointer;
    background-color:white;


}