.exp_form{
    width: 75.20412548345509vw;
    height:155.21628498727736vh;
    margin-left: 18vw;
    margin-top:16.063528413910094vh;
    margin-bottom: 8.481764206955047vh;
    font-size: 1vw;
    padding: 2vw;

    
}

textarea{
    margin-top: 0.4vw;
    font-size: 0.7vw;
    margin-left: 2vw;
    border-radius: 0.4vw;
    border: solid;

}
.exp_form #icon{
    font-size: 2vw;
    font-weight: bold;
    color: purple;
    margin-bottom: 1.7vw;
}
.exp_form input{
    width: 20vw;
    height: 2vw;
    border:solid;
    border-radius: 0.6vw;
    margin-left: 0.8594757198109153vw;
    margin-bottom: 1.1vw;
    font-size: 0.8594757198109153vw;
    padding-left: 0.4vw;
}
.exp_form input[name="title"]{
    width: 64.75805758487323vw;
    margin-left: 2.2214009454232916vw;
}

.exp_form input[name="subtitle"]{
    width: 50vw;
}

.exp_form input[name="target"]{
    width: 40vw;
    margin-left: 1.3vw;
}
.exp_form input[name="duration"]{
    width: 12vw;
}

.exp_form input[name="salary"]{
    width: 40vw;
    margin-top: 0.4vw;
    margin-left: 1.24vw;
}

.exp_form input[name="venue"]{
    width: 61vw;
    margin-left: 1.24vw;
}

.exp_form input[name="vavancy"]{
    margin-left: 1vw;
}
.exp_form input[name="deadline"]{
    width: 7vw;
}

.exp_form input[name="image"]{
    border: none;
}

.create_exp{
    margin-top: 0.7vw;
    margin-left: 1vw;
    display: inline-block;
    padding: 1vw 2vw;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vw;
}

.create_exp:hover {background-color: #3e8e41}

.create_exp:active {
  background-color: #3e8e41;
  transform: translateY(0.1vw);
}

.reset_exp{
    margin-top: 0.7vw;
    margin-left: 1vw;
    display: inline-block;
    padding: 1vw 2vw;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vw;
}

.reset_exp:hover {background-color: #3e8e41}

.reset_exp:active {
  background-color: #3e8e41;
  transform: translateY(0.1vw);
}

.back_exp{
    margin-top: 0.7vw;
    margin-left: 45vw;
    display: inline-block;
    padding: 1.3vw 2vw;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vw;
}

.back_exp:hover {background-color: #3e8e41}

.back_exp:active {
  background-color: #3e8e41;
  transform: translateY(0.1vw);
}
