.exp_response_format{
    display: flex;
    font-size: 35px;
    margin-left: 670px;
    margin-top: 10px;
}
.exp_response_format #username{
    
}
.exp_response_format #email{
    margin-left: 420px;
}
.exp_response_format #time{
    margin-left: 310px;
}

.exp_enrolled_list{
    font-size: 20px;
    margin-left: 282px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    height: 20px;


}
.exp_enrolled_list #username{
    text-align: center;
    margin-left: 260px;
    width: 400px;
    color: red;
    text-decoration: underline;
}
.exp_enrolled_list #username{
    cursor: pointer;
}
.exp_enrolled_list #email{
    margin-left: 50px;
    text-align: center;

    width: 600px;
}
.exp_enrolled_list #time{
    text-align: center;
    margin-left: 50px;

    width: 200px;
}

.exp_enrolled_listline{
    margin-top: 10px;
    padding-left: 500px;
    padding-right: 430px;
}

.exp_enrolled_listline #line{
    border-color: black;
    border-style: dotted;
}

.exp_enrolled_list #cancel{
    margin-left: 90px;
    height: 35px;
    position: relative;
    bottom: 9px;
    width: 100px;
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vw;

}
.exp_enrolled_list #cancel:hover {background-color: #3e8e41}

.exp_enrolled_list #cancel:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.back_exp1{
    position: relative;
    bottom: 80px;
    margin-left: 1100px;
    display: inline-block;
    padding: 20px 50px;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vw;
}

.back_exp1:hover {background-color: #3e8e41}

.back_exp1:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}
