#main {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 70px;
  background-color: #f5f5f5;
  position: relative;
  text-align: center;
  height: 100vh;
}

.Login {
  width: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.btn-padding {
  margin-top: 50px;
  margin-bottom: 20px;
}

button.left {
  margin-right: 9px;
}

button.right {
  margin-left: 9px;
}

.btn-lg {
  width: 7em;
  font-size: 15px;
  color: black;
}

#image {
  align-content: center;
  max-width: 10%;
}

img.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 10%;
}
