.left_card{
    background-color: #f5eac9;
    margin-top: 250px;
    margin-left: 500px;
    width: 460px;
    height: 550px;
    border-radius: 20px;
}

.left_card #avatar{
    margin-left: 80px;
    margin-top: 40px;
    border: 10px;
    width: 300px;
    height:300px;
    border-radius: 200px;
    overflow: hidden;
}
.left_card #chnage{
    display: flex;
}

.left_card #username{

    text-align: center;
    font-size: 28px;
    text-decoration: underline;
    color: black;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}
.left_card #org{

    text-align: center;
    font-size: 23px;
    color: gray;
    margin-top: 30px;
    margin-bottom: 15px;
    position: relative;
    bottom: 70px;
}

.left_card #sid{
    margin-top: 0px;
    text-align: center;
    font-size: 23px;
    color: gray;
    margin-bottom: 15px;
    position: relative;
    bottom: 50px;
}
.left_card #major{

    text-align: center;
    font-size: 23px;
    color: gray;
    margin-bottom: 15px;
    position: relative;
    bottom: 50px;
}
.left_card #admission{

    text-align: center;
    font-size: 23px;
    position: relative;
    bottom: 50px;
    color: gray;
}


.right_card{
    background-color: #f5eac9;
    margin-top: 250px;
    margin-left: 50px;
    width: 1000px;
    height: auto;
    border-radius: 20px;
}
.right_card #fullname{
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 27px;
    padding-left: 30px;
    font-weight: bold;
}
.right_card #email{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 27px;
    padding-left: 30px;
    font-weight: bold;
}
.right_card #password{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 27px;
    padding-left: 30px;
    font-weight: bold;
}
.right_card #birth{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 27px;
    padding-left: 30px;
    font-weight:bold;
}
.right_card #gender{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 27px;
    padding-left: 30px;
    font-weight: bold;
}
.right_card #mobile_no{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    padding-left: 30px;
    font-weight: bold;
}

.exp_card{
    background-color: #f5eac9;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 500px;
    padding-bottom: 40px;
    width: 1550px;
    height: auto;
}
.exp_card #title{
    font-size: 30px;
    margin-left: 20px;
    padding-top: 20px;
    font-weight: bold;
}

.exp_card #subtitle1{
    font-size: 30px;
    margin-left: 500px;
    margin-top: 20px;
}
.exp_card #subtitle2{
    font-size: 30px;
    margin-left: 600px;
    margin-top: 20px;
}

.exp_card #exp_title{

    text-align: center;
    width:1100px;
    font-size: 21px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.exp_card #time{

    margin-left: 32px;
    font-size: 21px;
    text-align: center;
    width: 240px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.profile_line{
    border-color: black;
    border-style: dashed;
}
.exp_card_line{
    background-color: aqua;
}

.exp_card #cancel{
    margin-left: 40px;
    height: 35px;
    position: relative;
    width: 100px;
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vw;

}
.exp_card #cancel:hover {background-color: #3e8e41}

.exp_card #cancel:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.right_card #edit_icon{
    margin-left:530px;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.right_card #edit_icon:hover{
    cursor: pointer;
    background-color:#ffd861;
    border-radius: 10px;

  }

  .org_info_card{
    background-color: #f5eac9;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 500px;
    width: 1550px;
    height: auto;
}

.org_info_card #title{
    font-size: 23px;
    margin-left: 20px;
    padding-top: 20px;
    font-weight: bold;
}

.org_info_card #intro{
    height: auto;
    width: 1500px;
    margin-top: 13px;
    margin-left: 20px;
    font-size: 20px;
}

.org_info_card #title1{
    font-size: 23px;
    margin-left: 20px;
    padding-top: 20px;
    font-weight: bold;
    margin-top: 40px;
    display: flex;
}
.org_info_card #title2{
    font-size: 23px;
    margin-left: 20px;
    padding-top: 20px;
    font-weight: bold;
    display: flex;
    padding-bottom: 30px;
}

.left_card #changeavatar{
    margin-left: 100px;
    margin-top: 15px;
}
.left_card #uploadimg{
    width:110px;
    cursor: pointer;
    border-radius: 12px;
    text-align: center;
    background-color: #4CAF50;
    margin-left: 45px;
    color:white;
    padding: 8px;
    position: relative;
    bottom: 30px;

}
.left_card #saveimg{
    background-color:#4CAF50 ;
    width: 100px;
    text-align: center;
    padding:8px;
    border-radius: 12px;
    color: white;
    position: relative;
    margin-left: 310px;
    bottom: 65px;
}
.left_card #saveimg:hover{
    cursor: pointer;
    }

.org_info_card #edit_icon{
    margin-left:1180px;
    font-size: 30px;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.org_info_card #edit_icon:hover{
    cursor: pointer;
    background-color:#ffd861;
    border-radius: 10px;
}

.team_card{
    background-color: #f5eac9;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 500px;
    width: 1550px;
    height: 280px;
}
.team_card #title{
    font-size: 30px;
    margin-left: 20px;
    padding-top: 20px;
    font-weight: bold;
}

.team_card #subtitle1{
    font-size: 30px;
    margin-left: 500px;
    margin-top: 20px;
}

.team_card #team_title{

    text-align: center;
    width:1100px;
    font-size: 21px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.team_card #cancel{
    margin-left: 40px;
    height: 35px;
    position: relative;
    width: 100px;
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vw;

}
.team_card #cancel:hover {background-color: #3e8e41}

.team_card #cancel:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}
