#questionnaire_post_created_title {
    font-size: 2vw;
    padding-left: 16vw;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#questionnaire_post_created_line {
    border-style: solid;
    border-color: black;
    margin-left: 10vw;
    margin-right: 20vw;
}

#questionnaire_post_created_icon {
    margin-left: 52.5vw;
    font-size: 1.25vw;
    border-color: black;
    border-style: solid;
    width: 12.5vw;
    text-align: center;
    border-radius: 0.5vw;
    padding: 0.25vw 0 0.25vw 0;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

#questionnaire_post_created_icon:hover {
    cursor: pointer;
    background-color: white;
}

.questionnaire_button #edit {
    font-size: 1vw;
    border-radius: 0.5vw;
    width: 4vw;
    text-align: center;
    border-color: black;
    border-style: solid;
    position: relative;
    padding-top: 0.1vw;
}

.questionnaire_button #delete {
    margin-left: 1.25vw;
    font-size: 1vw;
    border-radius: 0.5vw;
    width: 5vw;
    text-align: center;
    border-color: black;
    border-style: solid;
    position: relative;
    padding-top: 0.1vw;
}

.questionnaire_button {
    display: flex;
    height: 4vh;
    float: right;
    margin-right: 2vw;
    padding-top: 0.5vw;
}

.questionnaire_button #edit:hover {
    cursor: pointer;
    background-color: white;
}
.questionnaire_button #delete:hover {
    cursor: pointer;
    background-color: white;
}

.questionnaire_edit_img img{
    width:10vw;
}

.questionnaire_edit_img{
    margin-left: 11vw;
    display: grid;
    padding-top: 2vh;
    border-style: solid;
    border-width: 0vw;
    width: 10vw;
}