.questionnaire_details {
    margin-left: 11vw;
    font-size: 1vw;
}

.questionnaire_detials_info {
    display: flex;
    flex-direction: row;
}

.questionnaire_detials_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.questionnaire_details_title {
    font-size: 1vw;
    align-self: center;
    padding: 1vw;
    box-shadow: 0 0.25vw 0.5vw 0 rgb(70, 163, 255, 50%);
    border-radius: 1vw;
}

.questionnaire_details_title td {
    padding: 0.5vw;
}

.questionnaire_details_title td:first-child {
    float: right;
}

.questionnaire_details_title td:nth-child(2) {
    width: 15vw;
    white-space: initial;
}

.questionnaire_details_description {
    box-shadow: 0 0.25vw 0.5vw 0 rgb(70, 163, 255, 50%);
    border-radius: 1vw;
    width: 37.5vw;
    height: 25vh;
    margin-left: 1.5vw;
    white-space: initial;
}

.questionnaire_details_description h4 {
    text-align: center;
    margin-top: 1.5vh;
}

.questionnaire_details_description p {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.questionnaire {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.question {
    box-shadow: 0 0.25vw 0.5vw 0 rgb(70, 163, 255, 50%);
    border-radius: 1vw;
    width: 32.5vw;
    min-height: 25vh;
    padding: 2.5vh 2vw 2.5vh 2vw;
}

.LongQ textarea {
    width: 32.5vw;
    height: 12.5vh;
    margin-top: 0; 
    font-size: 1vw;
    margin-left: 0;
    border-radius: 0.25vw;
    border-color: rgb(118, 118, 118);
}

.LongQ textarea:focus {
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

.LongQ p {
    height: 8vh;
    white-space: initial;
    margin: 0 0 1vh 0;
}

.MC {
    font-size: 1vw;
}

.MC input {
    margin: 0 2vw 0 2vw;
}

.MC div {
    margin-top: 1vh;
}

.MC p {
    height: 8vh;
    white-space: initial;
    margin: 0 0 1vh 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1vh;
    border-radius: 1vh;
    background: rgba(17, 127, 236, 0.5);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: rgba(2, 59, 116, 1);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: rgba(2, 59, 116, 1);
    cursor: pointer;
}

.scoring p {
    height: 8vh;
    white-space: initial;
    margin: 0 0 1vh 0;
}

#score_value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}

.bubble {
    color: white;
    width: 100%;
    margin-top: 2vh;
}

.bubble_img {
    font-size: 1.5vw;
    background: rgba(17, 127, 236, 1);
    height: 3;
    width: 5%;
    text-align: center;
    border-radius: 0.5vw;
}

.questionnaire_submit_button {
    padding: 0.8vw 1vw;
    font-size: 1vw;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 1vw;
    float: right;
    margin-right: 5vw;
    margin-top: 5vh;
}

.questionnaire_submit_button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

.questionnaire_submit_button:hover {
    background-color: #3e8e41;
}

.questionnaire_left_icon {
    margin-right: 2vw;
    align-self: center;
    font-size: 3vw;
    width: 3vw;
}

.questionnaire_right_icon {
    margin-left: 2vw;
    align-self: center;
    font-size: 3vw;
    width: 3vw;
}

.questionnaire_left_icon:hover {
    animation: move_left 1s ease;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.questionnaire_right_icon:hover {
    animation: move_right 1s ease;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes move_left {
    0% {
        margin-right: 2vw;
    }
    100% {
        margin-right: 3vw;
    }
}

@keyframes move_right {
    0% {
        margin-left: 2vw;
    }
    100% {
        margin-left: 3vw;
    }
}

.progress_bar {
    margin-top: 4vh;
    border: solid rgb(0, 160, 72);
    height: 1.5vh;
    width: 50%;
    margin-left: 25%;
    border-radius: 0.5vw;
}

.bar {
    background: rgb(0, 160, 72);
    font-size: 0.5vw;
    border-radius: 0.5vw;
    height: 1.5vh;
}

.googleForm {
    text-align: center;
    margin-top: 15%;
    font-size: 2vw;
}

.questionnaire_back_button {
    padding: 0.8vw 1vw;
    font-size: 1vw;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 1vw;
    float: left;
    margin-left: 5vw;
    margin-top: 5vh;
}

.questionnaire_back_button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

.questionnaire_back_button:hover {
    background-color: #3e8e41;
}
