#signup_page {
    background-color: #f5f5f5;
    height: 100vh;
    width: 100vw;
    background-image: url("../components/sign\ up\ page\ background.png");
}

#signup {
    display: block;
    position: relative;
    width: 60%;
    height: 75%;
    top: 10%;
    left: 20%;
    bottom: 2.5%;
    background-color: #f3f0cf;
}

#signup_title {
    display: block;
    text-align: center;
    color: #66721d;
    position: relative;
    font-size: 1.25vw;
    height: 15%;
    padding: 2.5% 5% 2.5% 5%;
    margin-bottom: 2vh;
}

#signup_hr {
    background-color: #c4c4c4;
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5%;
}

#signup_form {
    font-size: 1vw;
    display: block;
    position: relative;
}

#signup_form div {
    padding-bottom: 5%;
    padding-left: 10%;
    color: #66721d;
}

#signup_form input {
    margin-right: 10%;
    width: 30%;
    height: 2.5vh;
    font-size: 1vw;
}

#signup_form select {
    background-color: white;
    width: 10%;
    height: 2.5vh;
    font-size: 1vw;
}

#signup_form button {
    margin-left: 45%;
    width: 10%;
    height: 3.5vh;
    font-size: 1.25vw;
    background-color: #e9d311;
}
