.team_edit_save_button {
    padding: 0.8vw 1vw;
    font-size: 1vw;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 1vw;
    float: right;
    margin-right: 5vw;
}

.team_edit_save_button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

.team_edit_save_button:hover {
    background-color: #3e8e41;
}

#team_publishable{
    width:2vw;
}

.teamPub{
    margin-left:10vw;
}