.team_details {
    margin-left: 11vw;
}

.team_button_and_content {
    display: flex;
}

.team_details_content {
    border: 0.4vh solid #d4af37;
    border-radius: 10%;
    margin: 0 0 0 4vw;
    height: 80vh;
    width: 80vw;
}

.team_details_top {
    display: flex;
}

.team_details_info {
    margin: 0.5vw 0 10vh 35vw;
    text-align: center;
}

.team_details_info h1 {
    font-size: 4vh;
    margin: 0;
}

.team_details_info p {
    margin: 0;
}

.team_details_vacancy {
    margin: 1vw 0 0 20vw;
    border: 0.4vh solid #d4af37;
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
    text-align: center;
    font-size: 2vh;
}

.team_details_number {
    margin: 0;
    font-size: 4vh;
}

.team_details_team_member {
    display: flex;
    flex-direction: column;
    float: right;
    margin: 0 10vw 0 0;
    font-size: 2vh;
    text-align: center;
    width: 30%;
    background-color: #d6a119;
    height: 50vh;
}

.team_details_team_member h3 {
    font-size: 2.5vh;
    margin: 0 0 1vh 0;
}

.team_details_team_member td {
    padding-left: 2vh;
    padding-bottom: 2vh;
}

.team_details_purpose {
    margin-left: 4vw;
    width: 50%;
    height: 25vh;
    background-color: #d4bf00;
}

.self_intro {
    width: 50%;
    margin-left: 4vw;
    margin-top: 2vh;
    height: 25vh;
    background-color: #a68b00;
}

.team_join_button {
    padding: 0.8vw 1vw;
    font-size: 1vw;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 1vw;
    float: right;
    margin-right: 5vw;
}

.team_join_button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

.team_join_button:hover {
    background-color: #3e8e41;
}
