.home{
    position:relative;
    margin-left: 11.1%;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.container{
    margin-left: 2vw;
   
}

.column {
    
    float: left;
    width: 20vw;
    padding: 0.5vw;
    height: 55vh;
    margin: 2vw;
    border-style: solid;
    border-color: purple;
    border-radius: 1vw;
    
  }
  
  .row:after {
      
    content: "";
    display: table;
    clear: both;
  }

.postphoto{
    margin-top:0.5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: 19vw;
    height:30vh;
    background-color: white;
    font-size: 0.8vw;
}

.postauthor{
    margin-top: 0.5vh;
    margin-left: 0.5vw;
    font-size:0.8vw;

}

.description{
    background-color: white;
    margin-top: 0.5vw;
    font-size: 0.8vw;
    width: 19vw;
    height: 16vh;
    margin-left: 0.5vw;

}
.title{
    margin-left: 4vw;
    font-size: 3vw;
    padding-top: 2vw;
    color:purple;
    font-weight: bold;
    
}

.intro{
    margin-left: 4vw;
    font-size: 1vw;
}

.background1{
    
    background-color: white;
}

.viewmore{
    margin-left: 70vw;
    display: inline-block;
    padding: 0.8vw 1vw;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vw;
}

.viewmore:hover {background-color: #3e8e41}

.viewmore:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.title-sub{
    color:#d4af37;
    padding-top: 1vw;
    margin-left: 4vw;
    font-size: 1vw;
    font-weight: bold;
}

