ul{
    margin: 0;
  }

  body{
    margin: 0;
    padding: 0;
  }
  
  
  .Sidebar{
    position: fixed;
    height: 100% ;
    width: 11%;
    background-color: #363533;
    
  }
  
  .SidebarContainer{
    height:10%;
    padding:0;
    width: 100%;
  }
  
  .SidebarContainer .list{
    width: 100%;
    height: 80%;
    list-style-type: none;
    margin:0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .SidebarContainer .list:hover{
    cursor: pointer;
    background-color:#3434eb;
  }
  
  .SidebarContainer #active{
    background-color:#3434eb;
  }
  
  .list #icon{
    flex:25%;
    display: grid;
    place-items: center;
    font-size: 1vw;
  }
  
  .list #title{
    flex:75%;
    font-size: 1vw;
  }
  
  .photo{
    padding-top: 1.3vw;
    padding-left: 10%;
    padding-bottom: 0.3vw;
    width: 100%;
  }

  .photo:hover{
    cursor: pointer;
  }
  
  hr{
    border: 0.01vw solid white;
    margin: 0.5vw;
  }
  
  .profile{
  
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6%;
    list-style-type: none;
    margin:0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .profile #proicon{
    flex:30%;
    display: grid;
    place-items: center;
    font-size: 1vw;
  }
  
  .profile #protitle{
    flex:70%;
    font-size: 1vw;
  }
  
  .profile:hover{
    cursor: pointer;
    background-color:#3434eb;
  }
  
  .bottomline{
    width: 100%;
    border: 0.02vw solid white;
    position: absolute;
    bottom: 3.5vw;
    margin: 0.1vw;
  }